<div class="centered-content">
  <% if current_user %>
    <h1>Dashboard</h1>
    <%= button_to "Log Out", logout_path, method: :delete, form_class: "logout-button" %>
    <p>Welcome, <%= current_user.email %>!</p>

    <%= form_tag send_email_path, method: :post do %>
      <%= text_field_tag :email_address, "", placeholder: "Enter Email Address" %>
      <%= button_tag "Send Email" %>
    <% end %>
    
    <div style="margin-top:10px;">
      <%= render partial: 'webhook_event_data', locals: {webhook_events: @webhook_events} %>
    </div>
  <% else %>
    <%= link_to 'Login', new_sessions_path %>
  <% end %>
</div>